[Unit]
Description=pixels

[Service]
WorkingDirectory=/usr/src/pixels/server
ExecStart=/usr/src/pixels/server/server

[Install]
WantedBy=multi-user.target
